.response-gen {
    height: 100%;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: start;
    background-color: rgba(0, 0, 0, 0.05);
    padding-top: 2%;

    border-top: solid;
    border-color: rgba(0, 0, 0, 0.1);
    border-width: 2px;
}

.resp-td {

}

.resp-tr {
    margin-left: 100px;
}